@using RepositorioApp.CrossCutting.Config
@using RepositorioApp.CrossCutting.Constants
@using RepositorioApp.Extensions
@model RepositorioApp.Domain.ViewsModels.Emails.PasswordRecoverRequestEmailVm
@inject AppConfig AppConfig
@{
    Layout = "_Layout";
    ViewBag.Title = Model.Subject;
    ViewBag.Subject = Model.Subject;

    var url = AppConfig.AppUrl.AddPath("reset-password").AddPath(Model.Email);


}
<p>
    Olá @Model.Name,
</p>
<p>
    Recebemos uma requisição para recuperar sua senha de acesso. Caso você tenha realizado essa requisição use o link e código abaixo para redefinir sua senha de acesso:
</p>

<p>
    O código para redefinir sua senha é:
</p>
<h2 style="text-align: center; letter-spacing: 4px; font-size: 36px;">
    <center>
        @Model.Code
    </center>
</h2>
<p>
    <div align="center">
        <!--[if mso]>
            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="@url" style="height:53px;width:200px;" arcsize="8%" stroke="f" fillcolor="@AppConstants.Emails.Style.PrimaryColor">
            <w:anchorlock/>
            <center>
        <![endif]-->
        <a href="@url"
           style="cursor: pointer; background-color:@AppConstants.Emails.Style.PrimaryColor;border-radius:4px;color:@AppConstants.Emails.Style.WhiteColor;display:inline-block;font-family:@AppConstants.Emails.Style.Font;font-size:13px;font-weight:bold;line-height:53px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">
            Redefinir senha de acesso
        </a>
        <!--[if mso]>
            </center>
            </v:roundrect>
        <![endif]-->
    </div>
</p>